
@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin objectfit {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin shadowbot{
    box-shadow: 0 2px 6px #C4C4C4;
    -moz-box-shadow: 0 2px 6px #C4C4C4;
    -webkit-box-shadow: 0 2px 6px #C4C4C4;
    -ms-box-shadow: 0 2px 6px #C4C4C4;
    -o-box-shadow: 0 2px 6px #C4C4C4;
}

@mixin sitefont{   
    font-family: 'Poppins', sans-serif;
    color:$black;   
    -webkit-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-size:$fsize;
    line-height:26px;
    font-weight:400;
}

//mixin function
@mixin positionall ($top, $right, $bottom, $left){
    position:absolute;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@mixin verticalcenter($direction){
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction:$direction;
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  @mixin halfBorder($trnsform){
    width:170px;
    height:170px;
    border:8px solid $blue;
    border-radius:50%;
    @include positionall(-24px,0,0,-24px);
    z-index: 99;
    border-right:8px solid transparent;
    border-top:8px solid transparent;
    transform: $trnsform;
  }



//mixins for devices responsive
//mobile mixin
@mixin mob {
    @media (min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
        @content;
    }
}

//mobile landscape
@mixin mlscape {
    @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//tablet mixin
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//laptop mixin 
@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}