$black:#000000;
$white:#ffffff;
$blue:#3575D3;
$gray:#959595;

//font size
$fsize:15px;

//devices breakpoints

$mobile-width:320px;  //portrait phones, less than 576px
$mobilelscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:991px; // Large devices (desktops, 992px and up)
$desktop-width:1200px; // Extra large devices (large desktops, 1200px and up)
