@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  background: #F8FCFD;
  height: 100%;
}

.flight, .home-slider .slide-content p, .home-title h3, .subPage .subpage-body .benefits-section .benefits-col p {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.fmed, header.fixed-top .bsnav .nav-link, header.fixed-top .bsnav .active {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.fsbold, .link-btn, .subPage .subpage-body h2, .subPage .subpage-body h3, .home-services .services-list .service-col a h6 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.fbold, .home-slider .slide-content .bas-text, .whyarev .whysection h2, .home-title h3 span, .about .transtitle, .home-services h2 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.fblue {
  color: #3575D3;
}

.fgray {
  color: #959595;
}

.cust-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.link-btn {
  background: #3575D3;
  padding: 3px 10px 3px 20px;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #3575D3;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  line-height: 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .link-btn {
    letter-spacing: 0;
  }
}

.link-btn span {
  position: relative;
  top: -2px;
}

.link-btn:hover {
  background: #ffffff;
  border: 1px solid #3575D3;
  color: #3575D3;
}

.link-btn:after {
  font-family: 'icomoon' !important;
  content: "\f054";
  background: #22529a;
  color: #ffffff;
  font-size: 17px;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  position: relative;
  left: 8px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .link-btn:after {
    display: none;
  }
}

.whitebox, .testing-process .processBlocks {
  background: #ffffff;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
}

.fixed-theme {
  background: #ffffff !important;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
}

.fixed-theme .navbar-brand img {
  width: 185px !important;
}

header.fixed-top {
  background: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  header.fixed-top {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header.fixed-top {
    padding: 10px 0;
  }
}

header.fixed-top .bsnav {
  background: none;
}

header.fixed-top .bsnav .navbar-brand img {
  width: 200px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  header.fixed-top .bsnav .navbar-brand img {
    width: 175px;
    margin-left: 10px;
  }
}

header.fixed-top .bsnav .nav-link {
  font-size: 15px;
  color: black !important;
}

header.fixed-top .bsnav .nav-link:hover {
  color: #3575D3 !important;
}

header.fixed-top .bsnav .active {
  color: #3575D3 !important;
  padding: 10px;
  display: block;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

header.fixed-top .bsnav .spl-link {
  background: #3575D3;
  color: #ffffff !important;
  border: 1px solid transparent;
  margin-left: 15px;
  border-radius: 25px;
  padding: 5px 20px;
}

header.fixed-top .bsnav .spl-link:hover {
  background: #ffffff;
  border: 1px solid #3575D3;
}

header.fixed-top .bsnav .submenu {
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
}

header.fixed-top .bsnav .submenu .nav-item .nav-link:hover {
  background: #3575D3;
  color: #ffffff !important;
}

header.fixed-top .bsnav .submenu .nav-item .active {
  background: #3575D3;
  color: #ffffff !important;
  display: block;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header.fixed-top .bsnav .submenu .nav-item .active {
    background: #ffffff !important;
  }
}

header.fixed-top .navbar-toggler:focus {
  outline: none;
  border: none;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

.home-slider {
  width: 100%;
  height: 90vh;
  background: url(../img/sliderbg.png) repeat 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
  -moz-animation: slide 20s linear infinite;
  -ms-animation: slide 20s linear infinite;
}

.home-slider .swiper-container {
  width: 100%;
  height: 100%;
  background: url(../img/slider-transbg.png) no-repeat top right;
}

.home-slider .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider {
    height: 40vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider {
    height: 100vh;
  }
}

.home-slider .swiper-slide {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-slider .swiper-slide .trans-name img {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .slide-content {
    padding: 50px 0 25px 0;
  }
}

.home-slider .slide-content .bas-text {
  font-size: 60px;
  color: #3575D3;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .slide-content .bas-text {
    font-size: 35px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider .slide-content .bas-text {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider .slide-content .bas-text {
    font-size: 35px;
  }
}

.home-slider .slide-content .sec-text {
  font-size: 35px;
  position: relative;
}

.home-slider .slide-content p {
  font-size: 20px;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .slide-content p {
    font-size: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-slider .slide-content p {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-slider .slide-content p {
    font-size: 15px;
  }
}

.home-slider .swiper-pagination {
  text-align: left;
  padding-left: 5%;
}

.home-slider .swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 4px;
  border-radius: 0;
  background: #959595;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  width: 50px;
  background: #3575D3;
}

@media (min-width: 320px) and (max-width: 575px) {
  .whyarev {
    padding: 20px 0;
  }
}

.whyarev .whysection {
  text-align: center;
}

.whyarev .whysection h3 {
  font-size: 20px;
}

.whyarev .whysection h2 {
  font-size: 35px;
  padding-bottom: 10px;
  position: relative;
  letter-spacing: -2px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .whyarev .whysection h2 {
    font-size: 25px;
  }
}

.whyarev .whysection p {
  font-size: 16px;
  line-height: 30px;
}

.whyarev .whysection a {
  color: #000000;
}

.whyarev .whysection a img {
  width: 30px;
}

.home-title {
  padding: 20px 0;
}

.home-title p {
  font-size: 15px;
  margin: 0;
}

.home-title h3 {
  font-size: 35px;
  letter-spacing: -2px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-title h3 {
    font-size: 25px;
    letter-spacing: 0;
  }
}

.whyprewel {
  margin-bottom: 50px;
}

.whyprewel .whycol-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyprewel .whycol {
  min-height: 75px;
  width: calc(100% / 6);
  padding: 0 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .whyprewel .whycol {
    width: calc(100% / 2);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .whyprewel .whycol {
    width: calc(100% / 3);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .whyprewel .whycol {
    width: calc(100% / 4);
  }
}

.whyprewel .whycol article {
  text-align: center;
}

.whyprewel .whycol article .icomoon {
  font-size: 60px;
  color: #3575D3;
}

.whyprewel .whycol article h4 {
  font-size: 15px;
  font-weight: normal;
  padding: 12px 0;
}

.whyprewel .whycol article p {
  font-size: 14px;
}

.whyprewel .whycol .whycol-icon {
  width: 137px;
  height: 137px;
  background: #ffffff;
  border: 8px solid #ebebeb;
  border-radius: 50%;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.whyprewel .whycol .whycol-icon:hover {
  background: #3575D3;
}

.whyprewel .whycol .whycol-icon:hover .icomoon {
  color: #ffffff;
}

.about {
  border-bottom: 5px solid #3575D3;
  position: relative;
}

.about p {
  font-size: 16px;
  line-height: 30px;
}

.about .transtitle {
  position: absolute;
  font-size: 120px;
  color: #000000;
  opacity: 0.1;
  left: -11%;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (min-width: 768px) and (max-width: 990px) {
  .about .transtitle {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about .transtitle {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .about .transtitle {
    display: none;
  }
}

.testing-process .processBlocks {
  padding: 0px 0 100px 0;
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks {
    padding: 25px 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks {
    padding: 25px 0;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks {
    padding: 25px 0;
    text-align: center;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:after {
  content: '';
  width: 170px;
  height: 170px;
  border: 8px solid #3575D3;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  right: 0;
  bottom: 0;
  left: -24px;
  z-index: 99;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:after {
    display: none;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:before {
  content: '';
  width: 36px;
  height: 8px;
  background: #3575D3;
  position: absolute;
  top: 58px;
  right: -53px;
  bottom: 0;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-col:before {
    display: none;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-title {
  position: absolute;
  top: inherit;
  right: 0;
  bottom: -65px;
  left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-title {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-title {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(odd) .process-title {
    position: relative;
    bottom: 0;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:after {
  content: '';
  width: 170px;
  height: 170px;
  border: 8px solid #3575D3;
  border-radius: 50%;
  position: absolute;
  top: -24px;
  right: 0;
  bottom: 0;
  left: -24px;
  z-index: 99;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:after {
    display: none;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:before {
  content: '';
  width: 36px;
  height: 8px;
  background: #3575D3;
  position: absolute;
  top: 58px;
  right: -53px;
  bottom: 0;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-col:before {
    display: none;
  }
}

.testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-title {
  position: absolute;
  top: -50px;
  right: 0;
  bottom: inherit;
  left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-title {
    position: relative;
    top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-title {
    position: relative;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .row .col-md-2:nth-of-type(even) .process-title {
    position: relative;
    top: 0;
  }
}

.testing-process .processBlocks .process-col {
  width: 137px;
  height: 137px;
  background: #ffffff;
  border: 8px solid #ebebeb;
  margin: 0 auto;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testing-process .processBlocks .process-col {
    margin: 10px auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .process-col {
    margin: 10px auto;
    width: 100px;
    height: 100px;
  }
}

.testing-process .processBlocks .process-col:hover {
  background: #3575D3;
}

.testing-process .processBlocks .process-col:hover .icomoon {
  color: #ffffff;
}

.testing-process .processBlocks .process-col .icomoon {
  font-size: 45px;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 990px) {
  .testing-process .processBlocks .process-col .icomoon {
    font-size: 30px;
  }
}

.testimonials {
  background: url(../img/testimonials-bg.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  min-height: 250px;
}

.testimonials:before {
  content: '';
  background: #3575D3;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.testimonials .whitebox, .testimonials .testing-process .processBlocks, .testing-process .testimonials .processBlocks {
  position: relative;
  z-index: 99;
  top: 80px;
  min-height: 400px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .testimonials .whitebox, .testimonials .testing-process .processBlocks, .testing-process .testimonials .processBlocks {
    padding-top: 10px;
  }
}

.testimonials .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.testimonials .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonials .swiper-slide::after {
  display: block;
  content: "";
  clear: both;
}

.testimonials .swiper-slide article {
  padding: 0 5% 40px 5%;
  position: relative;
  top: -15%;
}

.testimonials .swiper-slide article .h5 {
  color: gray;
}

.testimonials .swiper-slide article .icomoon {
  color: gray;
}

.testimonials .swiper-pagination-bullets {
  bottom: 40px !important;
}

.clients {
  margin-top: 150px;
  padding: 40px 0;
}

.clients .clients-in {
  padding-top: 40px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .clients .clients-in {
    padding-top: 10px;
  }
}

.clients .clients-in .swiper-slide {
  width: 20%;
  text-align: center;
}

.clients .clients-in .swiper-slide img {
  width: 160px;
}

.clients .swiper-pagination {
  display: none;
}

footer {
  background: #3575D3 url(../img/sliderbg.png) repeat-x 0 0;
  padding: 25px 0;
}

footer .nav-link {
  color: #ffffff;
  padding: 0;
  margin: 0 10px;
  font-size: 15px;
}

footer .nav-link:hover {
  border-bottom: 1px solid #ffffff;
}

footer .footer-social {
  margin: 25px 0;
}

footer .footer-social a {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
}

footer .footer-social a:hover {
  background: #3575D3;
  border: 1px solid #ffffff;
}

footer .footer-social a:hover .icomoon {
  color: #ffffff;
}

footer .footer-social a .icomoon {
  font-size: 20px;
  color: #000000;
}

footer p {
  color: #ffffff;
}

footer .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: none;
  background: #3575D3;
}

footer .moveTop:hover {
  border-radius: 50%;
}

footer .moveTop .icomoon {
  color: #ffffff;
}

#prewel-video .modal-body {
  padding: 0;
}

.subPage {
  min-height: 700px;
  margin-top: 65px;
}

.subPage .subpage-header {
  background: #3575D3 url(../img/sliderbg.png) repeat-x 0 0;
  padding: 30px;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-header {
    padding: 10px;
  }
}

.subPage .subpage-header article h1 {
  font-size: 30px;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-header article h1 {
    font-size: 22px;
  }
}

.subPage .subpage-header article .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.subPage .subpage-header article .breadcrumb .breadcrumb-item:before {
  color: #ffffff;
}

.subPage .subpage-header article .breadcrumb .breadcrumb-item a {
  color: #ffffff;
  font-size: 13px;
}

.subPage .subpage-header article .breadcrumb .active {
  color: #ffffff;
  opacity: 0.5;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body {
    padding-top: 15px;
  }
}

.subPage .subpage-body h2 {
  font-size: 30px;
}

.subPage .subpage-body h3 {
  font-size: 25px;
  line-height: 35px;
}

.subPage .subpage-body p {
  font-size: 15px;
  text-align: justify;
}

.subPage .subpage-body .icon-div {
  padding-bottom: 15px;
}

.subPage .subpage-body .icon-div .icon {
  background: #ffffff;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .icon-div .icon {
    width: 110px;
    height: 110px;
  }
}

.subPage .subpage-body .icon-div .icon .icomoon {
  font-size: 50px;
  color: #000000;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .icon-div .icon .icomoon {
    font-size: 45px;
  }
}

.subPage .subpage-body .icon-div .icon:hover {
  background: #3575D3;
}

.subPage .subpage-body .icon-div .icon:hover .icomoon {
  color: #ffffff;
}

.subPage .subpage-body .icon-div p {
  font-size: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 10px;
  line-height: 22px;
}

.subPage .subpage-body .benefits-section {
  background: url(../img/benefits-bg.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  min-height: 350px;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .benefits-section {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .subPage .subpage-body .benefits-section {
    height: auto;
  }
}

.subPage .subpage-body .benefits-section:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3575D3;
  opacity: 0.8;
}

.subPage .subpage-body .benefits-section h4 {
  color: #ffffff;
  font-size: 30px;
}

.subPage .subpage-body .benefits-section p {
  text-align: center;
  color: #ffffff;
}

.subPage .subpage-body .benefits-section .benefits-col .icomoon {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 15px;
}

.subPage .subpage-body .benefits-section .benefits-col h6 {
  font-size: 18px;
  padding: 5px 0;
  color: #ffffff;
  position: relative;
}

.subPage .subpage-body .benefits-section .benefits-col h6:before {
  content: '';
  width: 50px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: inherit;
  right: 0;
  bottom: -2px;
  left: 50%;
  margin-left: -25px;
}

.subPage .subpage-body .benefits-section .benefits-col p {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .benefits-section .benefits-col p {
    padding: 0 12px;
  }
}

.subPage .subpage-body .highlets {
  margin-top: -75px;
  position: relative;
  margin-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .highlets {
    margin-top: 0;
  }
}

.subPage .subpage-body .highlets .highletscol {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPage .subpage-body .highlets .highletscol {
    border-bottom: 1px solid #c8c8c8;
    border-right: 0;
  }
}

.subPage .subpage-body .highlets .highletscol .icomoon {
  font-size: 75px;
  color: #3575D3;
  margin-right: 20px;
}

.subPage .subpage-body .highlets .highletscol h5 {
  font-size: 35px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.subPage .subpage-body .highlets .highletscol p {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.list-items {
  padding-left: 0;
}

.list-items li {
  padding-bottom: 10px;
}

.list-items li:before {
  content: "\f00c";
  font-family: 'icomoon' !important;
  font-size: 17px;
  color: #3575D3;
  padding-right: 10px;
}

.list-items-noicon {
  padding: 0;
  margin: 0;
}

.list-items-noicon li {
  padding: 8px 0;
  line-height: 22px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .card {
    margin-bottom: 15px;
  }
}

.blogcard {
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  margin-bottom: 25px;
}

.blogcard .card-body h6 {
  min-height: 70px;
  max-height: 70px;
  line-height: 25px;
  padding-top: 10px;
}

.blogcard .card-body .round-link {
  width: 48px;
  height: 48px;
  background: #3575D3;
  position: absolute;
  top: -25px;
  right: 10px;
  bottom: inherit;
  left: inherit;
  text-align: center;
  line-height: 53px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px #C4C4C4;
  -moz-box-shadow: 0 2px 6px #C4C4C4;
  -webkit-box-shadow: 0 2px 6px #C4C4C4;
  -ms-box-shadow: 0 2px 6px #C4C4C4;
  -o-box-shadow: 0 2px 6px #C4C4C4;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.blogcard .card-body .round-link:hover {
  background: #ffffff;
}

.blogcard .card-body .round-link:hover .icomoon {
  color: #3575D3;
}

.blogcard .card-body .round-link .icomoon {
  font-size: 18px;
  color: #ffffff;
}

.contact-col .icon-col {
  position: relative;
  margin-bottom: 40px;
}

.contact-col .icon-col:before {
  content: '';
  width: 50px;
  height: 2px;
  background: #959595;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.contact-col .icon-col .icomoon {
  font-size: 60px;
  color: #3575D3;
}

.form label {
  font-size: 13px;
  margin-bottom: 0;
}

.form .form-control {
  border-radius: 0;
  min-height: 45px;
  font-size: 14px;
}

.form input.form-control {
  height: 45px;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: #c8c8c8 !important;
}

:-ms-input-placeholder {
  font-size: 14px;
  color: #c8c8c8 !important;
}

::-ms-input-placeholder {
  font-size: 14px;
  color: #c8c8c8 !important;
}

::placeholder {
  font-size: 14px;
  color: #c8c8c8 !important;
}

.more-blogsdiv {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #959595;
}

.more-blogsdiv .img-blogthumb {
  width: 45%;
  padding-right: 10px;
  display: inline-block;
}

.more-blogsdiv .title-recentblog {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
  display: block;
  line-height: 20px;
  color: #000000;
  width: 55%;
}

.more-blogsdiv .title-recentblog:hover {
  color: #3575D3;
}

.alert-success {
  position: absolute;
  width: 100%;
  top: 0;
}

#alertEnquirySuccess {
  z-index: 9999;
}

.text-danger {
  font-size: 13px;
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
  width: 30%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .modal-dialog-slideout {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .modal-dialog-slideout {
    width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .modal-dialog-slideout {
    width: 50%;
  }
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-dialog-slideout .modal-header {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog-slideout .modal-header h5 {
  float: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .modal-dialog-slideout .modal-header h5 {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .benefits-col {
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
  }
}

.buebg {
  background: #3575D3;
  color: #ffffff;
}

.reviewlowo {
  width: 100px;
}

.chemical-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.chemical-items .list-group-item {
  width: 50%;
  position: relative;
  padding-left: 30px;
}

.chemical-items .list-group-item:before {
  content: '';
  font-size: 22px;
  color: #3575D3;
  margin-right: 8px;
  background: url(../img/circle.svg) no-repeat 0 0;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  position: absolute;
  top: 18px;
  right: inherit;
  bottom: inherit;
  left: 5px;
}

.dottedborder {
  border-left: 1px dashed #3575D3;
}

.bglist li {
  background: #f1f6fc;
  margin: 0.6em 1em 0 0;
  -webkit-box-shadow: 0 1px 2px 0 #cbd6e2;
          box-shadow: 0 1px 2px 0 #cbd6e2;
  padding: 1em 0 1em 1em;
  border-radius: 5px;
  border-left-width: 5px;
  border-color: #89aee5;
  border-left-style: solid;
}

.blog-detail h2 {
  font-size: 21px !important;
  line-height: 30px;
}

.home-services {
  padding: 35px 0;
}

.home-services h2 {
  font-size: 35px;
  padding-bottom: 10px;
  position: relative;
  letter-spacing: -2px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-services h2 {
    font-size: 25px;
  }
}

.home-services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-services .services-list .service-col {
  width: calc(100% / 7);
  background: #ffffff;
  min-height: 300px;
  max-height: 320px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  position: relative;
}

.home-services .services-list .service-col .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: inherit;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-services .services-list .service-col {
    width: calc(100% / 2);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-services .services-list .service-col {
    width: calc(100% / 3);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .home-services .services-list .service-col {
    width: calc(100% / 3);
  }
}

.home-services .services-list .service-col:hover {
  background: #3575D3;
}

.home-services .services-list .service-col:hover a h6 {
  color: #ffffff;
  padding-top: 55px;
}

.home-services .services-list .service-col:hover a h6:before {
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: inherit;
  bottom: 0;
  left: 50%;
}

.home-services .services-list .service-col:hover a .icomoon {
  color: #ffffff;
}

.home-services .services-list .service-col a .icomoon {
  font-size: 55px;
  color: #000000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-services .services-list .service-col a h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: #4d4d4d;
  padding: 60px 0 0 0;
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.home-services .services-list .service-col a h6:before {
  content: '';
  width: 40px;
  height: 2px;
  background: #3575D3;
  position: absolute;
  top: 25px;
  right: inherit;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.cust-table thead th {
  background: #3575D3;
  color: #ffffff;
}

.cust-table tbody td {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */