@import 'mixins';
@import 'variables';

//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    @include sitefont;
    background:#F8FCFD;
    height:100%;
}

.flight{
    font-weight:300;
    font-family: 'Poppins', sans-serif;
}
.fmed{
    font-weight:500;
    font-family: 'Poppins', sans-serif;
}
.fsbold{
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
.fbold{
    font-weight:700;
    font-family: 'Poppins', sans-serif;
}

a{
    &:hover{
        text-decoration: none;
    }
}

ul, li{
    list-style: none;
}

.fblue{
    color:$blue;
}
.fgray{
    color:$gray;
}

.cust-container{
    width:90%;
    margin:0 auto;
    position:relative;
}

.link-btn{
    background:$blue;
    padding:3px 10px 3px 20px;
    border-radius:25px;
    color:$white;
    text-transform: uppercase;
    @extend .fsbold;
    display:inline-block;
    letter-spacing:2px;
    border:1px solid $blue;
    @include transition();
    line-height:30px;

    @include mob{
        letter-spacing: 0;      
    }
    

    span{
        position:relative;
        top:-2px;
    }

    &:hover{
        background:$white;
        border:1px solid $blue;
        color:$blue;

    }

    &:after{
        font-family: 'icomoon' !important;
        content: "\f054";
        background:darken($blue, 15%);
        color:$white;
        font-size:$fsize + 2;
        width:35px;
        height:35px;
        display:inline-block;
        text-align:center;
        line-height:35px;
        border-radius:50%;
        position:relative;
        left:8px;    
        
        @include mlscape{
            display:none;
        }
    }
}

.whitebox{
    background:$white;
    @include shadowbot();
}

.fixed-theme{
    background:$white!important;
    @include shadowbot();

    .navbar-brand{
        img{
            width:185px!important;          
        }
    }
}

//header styles 
header.fixed-top{
    background:$white;

    @include mob{
        padding:10px 0;
    }
    @include tab{
        padding:10px 0;
    }
    .bsnav{
        background:none;

        .navbar-brand{
            img{
                width:200px;
                @include transition();

                @include mob{
                    width:175px;
                    margin-left:10px;
                }
            }            
        }
        .nav-link{
            font-size:$fsize;
            color:rgba(0,0,0,1)!important;
            @extend .fmed;
    
            &:hover{
                color:$blue!important;
            }
        }
        .active{
            color:$blue!important;
            padding: 10px;
            display: block;
            position: relative;
            transition: .3s;
            cursor: pointer;
            @extend .fmed;
        }
        .spl-link{
            background:$blue;
            color:$white!important;
            border:1px solid transparent;
            margin-left:15px;
            border-radius:25px;
            padding:5px 20px;
            
            &:hover{
                background:$white;
                border:1px solid $blue;
            }
        }
        .submenu{     
            @include shadowbot();      
           .nav-item{ 
              .nav-link{    
                &:hover{
                    background:$blue;
                    color:$white!important;
                }
              } 
              .active{
                background:$blue;
                color:$white!important;
                display:block;
                padding:10px;

                @include mob{
                    background:$white!important;                   
                }
              }          
           }
        }
    } 
    .navbar-toggler{
        &:focus{
            outline:none;
            border:none;
        }
    }
}

@keyframes slide{
    from{
        background-position:0 0;
    }
    to{
        background-position:-400px 0;
    }
}

//home slider 
.home-slider{
    width: 100%;
    height: 90vh;
    background:url(../img/sliderbg.png) repeat 0 0;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
    animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    -ms-animation: slide 20s linear infinite;

    .swiper-container {
        width: 100%;
        height: 100%;
        background:url(../img/slider-transbg.png)no-repeat top right;
        }
      .swiper-slide {
        text-align: center;
        @include verticalcenter(row);
      }

    @include tab{
        height:40vh;
    }  
    @include mlscape{
        height:100vh;
    } 
    
    


   
    .swiper-slide{
        background-size:cover;
        display:flex;
        justify-content: center;
        align-items: center;

        .trans-name{

            img{
                width:100%;
            }
        }               
    }

    .slide-content{    
        @include mob{           
            padding:50px 0 25px 0;
        }       
       .bas-text{
            font-size:$fsize * 4;
            @extend .fbold;
            color:$blue;     
            
            @include mob{
                font-size:$fsize * 2 + 5;  
            }
            @include mlscape{
                font-size:$fsize * 2 + 5;  
            }
            @include tab{
                font-size:$fsize * 2 + 5;  
            }
       } 
       .sec-text{
            font-size:$fsize * 2 + 5;          
            position:relative;         
       }
       p{
           font-size:$fsize + 5;
           @extend .flight;
           padding-bottom:0;

           @include mob{
            font-size:$fsize;
            margin-bottom:0;
           }

           @include tab{
            font-size:$fsize;
           }

           @include mlscape{
            font-size:$fsize;
           }
       }
    }

    .swiper-pagination{
        text-align:left;
        padding-left:5%;
        .swiper-pagination-bullet{
            width:25px;
            height:4px;
            border-radius:0;
            background:$gray;
            opacity:1;
            @include transition;
        }
        .swiper-pagination-bullet-active{
            width:50px;
            background:$blue;

        }
        
    }
    
}

.whyarev{
    @include mob{
        padding:20px 0;
    }
    .whysection{
        text-align:center;
        h3{
            font-size:$fsize + 5;
        }
        h2{
            font-size:$fsize * 2 + 5;
            @extend .fbold;
            padding-bottom:10px;
            position:relative;
            letter-spacing:-2px;

            @include mob{
                font-size:$fsize + 10;
            }

            // &:before{
            //     content:'';
            //     width:100px;
            //     height:6px;
            //     background:$blue;
            //     position:absolute;
            //     bottom:15px;
            //     left:0;
            // }
            // &:after{
            //     content:'';
            //     width:25px;
            //     height:6px;
            //     background:$blue;
            //     position:absolute;
            //     bottom:15px;
            //     left:110px;
            // }
        }
        p{
            font-size:$fsize + 1;
            line-height: 30px;
        }
        a{
            color:$black;
            img{               
                width:30px;
            }
        }
    }
   
}

.home-title{
    padding:20px 0;
    p{
        font-size:$fsize;    
        margin:0;    
    }
    h3{
        font-size:$fsize * 2 + 5;
        @extend .flight;
        letter-spacing:-2px;

        span{
            @extend .fbold;
        }

        @include mob{
            font-size:$fsize + 10;
            letter-spacing:0;
        }
    }
}

.whyprewel{
    margin-bottom:50px;

    .whycol-row{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   .whycol{       
        min-height:75px;     
        width:calc(100% / 6);
        padding:0 10px;

        @include mob{
            width:calc(100% / 2);
        }
        @include mlscape{
            width:calc(100% / 3);
        }
        @include tab{
            width:calc(100% / 4);
        }
        article{          
           text-align:center;   

           .icomoon{
               font-size:$fsize * 4;
               color:$blue;
           }
           h4{
               font-size:$fsize;  
               font-weight:normal;
               padding:12px 0;
           }
           p{
               font-size:$fsize - 1;                                
           }
        }
        .whycol-icon{
            width:137px;
            height:137px;
            background:$white;
            border:8px solid lighten($black, 92%);
            border-radius:50%;     
            @include shadowbot;
            @include verticalcenter(row);
            margin:auto;
            @include transition;

            &:hover{
                background:$blue;

                .icomoon{
                    color:$white;
                }
            }
        }
    } 
}

.about{
    border-bottom:5px solid $blue;
    position:relative;
    p{
        font-size:$fsize + 1;
        line-height: 30px;
    }
    .transtitle{
        position:absolute;
        font-size:$fsize * 8;
        color:$black;
        @extend .fbold;
        opacity:0.1;       
        left:-11%;
        top:50%;
        transform: rotate(-90deg);    
        
        @include tab{
            display:none;
        }
        @include mlscape{
            display:none;
        }
        @include mob{
            display:none;
        }
    }
}


//testing process
.testing-process{
    .processBlocks{
        @extend .whitebox;
        padding:0px 0 100px 0;

        @include tab{
           padding:25px 0;
        }

        @include mob{
            padding:25px 0;
            text-align:center;
        }
        @include mlscape{
            padding:25px 0;
            text-align:center;
        }

        .row{
            .col-md-2{
                &:nth-of-type(odd){
                    .process-col{
                        &:after{
                            content:'';
                           @include halfBorder(rotate(-45deg));
                           @include mob{
                               display:none;
                           }
                           @include mlscape{
                            display:none;
                            }
                           @include tab{
                            display:none;
                           }
                          
                        }  
                        &:before{
                            content:'';
                            width:36px;
                            height:8px;
                            background:$blue;
                            @include positionall(58px,-53px,0,inherit);
                            @include mob{
                                display:none;
                            }
                            @include mlscape{
                                display:none;
                            }
                            @include tab{
                                display:none;
                               }
                          
                        }          
                    }
                    .process-title{
                        @include positionall(inherit,0,-65px,0);
                        @include mob{
                            position:relative;
                            bottom:0;
                        }
                        @include mlscape{
                            position:relative;
                            bottom:0;
                        }
                        @include tab{
                            position:relative;
                            bottom:0;
                        }
                       
                    }
                }
                &:nth-of-type(even){
                    .process-col{
                        &:after{
                            content:'';
                            @include halfBorder(rotate(135deg));
                            @include mob{
                                display:none;
                            }
                            @include mlscape{
                                display:none;
                            }
                            @include tab{
                                display:none;
                            }
                           
                        }   
                        &:before{
                            content:'';
                            width:36px;
                            height:8px;
                            background:$blue;
                            @include positionall(58px,-53px,0,inherit);
                            @include mob{
                                display:none;
                            }
                            @include mlscape{
                                display:none;
                            }
                            @include tab{
                                display:none;
                            }
                           
                        }             
                    }
                    .process-title{
                        @include positionall(-50px,0,inherit,0);
                        @include mob{
                            position:relative;
                            top:0;
                        }
                        @include mlscape{
                            position:relative;
                            top:0;
                        }
                        @include tab{
                            position:relative;
                            top:0;
                        }
                       
                    }
                }
            }
        }

        .process-col{
            width:137px;
            height:137px;
            background:$white;
            border:8px solid lighten($black, 92%);
            margin:0 auto;
            @include shadowbot();
            border-radius:50%;
            box-sizing: border-box;
            @include verticalcenter(row);
            text-align:center;
            @include transition();    
            position:relative;  

            @include mob{
                margin:10px auto;
            }
            @include tab{
                margin:10px auto;
                width:100px;
                height:100px;
            }

            &:hover{
                background:$blue;

                .icomoon{
                    color:$white;
                }
            } 
           
            .icomoon{
                font-size:$fsize * 3;
                color:$black;

                @include tab{
                    font-size:$fsize * 2;
                }
            }
            
        }
    }
}

//testimonials
.testimonials{
    background:url(../img/testimonials-bg.jpg)no-repeat 0 0;
    background-size:cover;
    position:relative;
    min-height:250px;

    &:before{
        content:'';
        background:$blue;
        opacity:0.6;
        @include positionall(0,0,0,0);
    }
    .whitebox{
        position:relative;
        z-index: 99;    
        top:80px;  
        min-height: 400px;

        @include mob{
            padding-top:10px;
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;       
      }
      .swiper-slide {
        text-align: center;     
       @include verticalcenter(row);
       @include clearfix();

       article{
           padding:0 5% 40px 5%;
           position:relative;
           top:-15%;   
           
           .h5{
               color:lighten($black, 50%);
           }
           .icomoon{
            color:lighten($black, 50%);
           }
       }
    }
    .swiper-pagination-bullets{
        bottom:40px!important;
    }
}

.clients{
    margin-top:150px;
    padding:40px 0;

    .clients-in{
        padding-top:40px;

        @include mob{
            padding-top:10px;
        }

        .swiper-slide{
            width:20%;
            text-align:center;

            img{
                width:160px;
            }
        }
    }
    .swiper-pagination{
        display:none;
    }
}

//footer
footer{
    background:$blue url(../img/sliderbg.png) repeat-x 0 0;
    padding:25px 0;

    .nav-link{
        color:$white;
        padding:0;
        margin:0 10px;
        font-size:$fsize;

        &:hover{
            border-bottom:1px solid $white;
        }
    }
    .footer-social{
        margin:25px 0;
        a{
            width:42px;
            height:42px;          
            background:$white;
            border-radius:50%;
            display:inline-block;
            line-height:48px;
            text-align:center;
            @include transition;
            border:1px solid transparent;

            &:hover{
                background:$blue;
                border:1px solid $white;
                
                .icomoon{
                    color:$white;
                }
            }

            .icomoon{
                font-size:$fsize + 5;
                color:$black;
            }
        }
    }
    p{
        color:$white;
    }

    .moveTop{
        width:40px;
        height:40px;
        border:1px solid $white;
        position:fixed;
        bottom:25px;
        right:25px;
        display:inline-block;
        line-height:40px;
        text-align:center;
        @include transition;
        display:none;
        background:$blue;

        &:hover{
            border-radius:50%;
        }
        .icomoon{
            color:$white;
        }
    }
}

#prewel-video{
   .modal-body{
       padding:0;
   } 
}

.subPage{
    min-height:700px;
    margin-top:65px;

    //header 
    .subpage-header{
        background:$blue url(../img/sliderbg.png) repeat-x 0 0;
        padding:30px;
        @include shadowbot();

        @include mob{
            padding:10px;
        }

        article{
            h1{
                font-size:$fsize * 2;
                color:$white;

                @include mob{
                    font-size:$fsize + 7;
                }
                
            }
            .breadcrumb{
                background:none;
                padding:0;
                margin:0;

                .breadcrumb-item{
                    &:before{
                        color:$white;
                    }

                    a{
                        color:$white;
                        font-size:$fsize - 2;
                    }
                }
                .active{                 
                    color:$white;
                    opacity:0.5;      
                    font-size:$fsize - 2;              
                }
            }
        }
    }

    //subpage main 
    .subpage-body{

        @include mob{
            padding-top:15px;
        }

        h2{
            font-size:$fsize * 2;
            @extend .fsbold;
        }
        h3{
            font-size:$fsize * 2 - 5;
            @extend .fsbold;
            line-height:35px;
        }
        p{
            font-size:$fsize;
            text-align:justify;
        }
        
        .icon-div{
            padding-bottom:15px;
           .icon{
               background:$white;
               width:127px;
               height:127px;
               border-radius:50%;
               text-align:center;
               box-sizing: border-box;
               @include shadowbot();
               @include verticalcenter(column);
               margin:0 auto;
               @include transition;

               @include mob{
                   width:110px;
                   height:110px;
               }

               .icomoon{
                   font-size:$fsize * 3 + 5;
                   color:$black;

                   @include mob{
                       font-size:$fsize * 3;
                   }
               }

               &:hover{
                    background:$blue;

                    .icomoon{
                        color:$white;
                    }
               }
           } 
          
           p{
               font-size:$fsize;
               text-align:center;
               @include sitefont();
               padding-top:10px;
               line-height:22px;
           }
        }

        .benefits-section{
            background:url(../img/benefits-bg.jpg)no-repeat 0 0;
            background-size:cover;
            position:relative;
            min-height:350px;
            padding-top:50px;
            padding-bottom:100px;

            @include mob{
                height:auto;
            }
            @include tab{
                height:auto;
            }

            &:before{
                content:'';
                @include positionall(0,0,0,0);
                background:$blue;     
                opacity:0.8;           
            }
            h4{
                color:$white;
                font-size:$fsize * 2;
            }
            p{
                text-align:center;
                color:$white;
            }
            .benefits-col{
                .icomoon{
                    font-size:$fsize * 4;
                    color:$white;
                    margin-bottom:15px;
                }
                h6{
                    font-size:$fsize + 3;
                    padding:5px 0;
                    color:$white;
                    position:relative;

                    &:before{
                        content:'';
                        width:50px;
                        height:2px;
                        background:$white;
                        @include positionall(inherit,0,-2px,50%);
                        margin-left:-25px;
                    }


                }
                p{
                    font-size:$fsize - 1;
                    line-height:20px;
                    @extend .flight;   
                    
                    @include mob{
                        padding:0 12px;
                    }
                }
            }
        }

        .highlets{
            margin-top:-75px;
            position:relative;
            margin-bottom:50px;

            @include mob{
                margin-top:0;
            }           

            .highletscol{
                padding-top:50px;
                padding-bottom:50px;

                @include mob{
                    border-bottom:1px solid lighten($gray, 20%);
                    border-right:0;
                }
                .icomoon{
                    font-size:$fsize * 5;
                    color:$blue;
                    margin-right:20px;
                }
                h5{
                    font-size:$fsize * 2 + 5;
                    padding-bottom:0;
                    margin-bottom:0;
                }
                p{
                    font-size:$fsize - 1;
                    padding-bottom:0;
                    margin-bottom:0;
                }
            }
        }
    }
}

.list-items{
    padding-left:0;
    li{
        padding-bottom:10px;
       &:before{
        content: "\f00c";  
        font-family: 'icomoon' !important; 
        font-size:$fsize + 2;
        color:$blue;
        padding-right:10px;
       }
    }
}
.list-items-noicon{
    padding:0;
    margin:0;
    li{
        padding:8px 0;
        line-height:22px;
    }
}

.card{
    @include mob{
        margin-bottom:15px;
    }
}

.blogcard{
    @include shadowbot;
    margin-bottom:25px;

    .card-body{
        h6{
            min-height:70px;
            max-height:70px;
            line-height:25px;
            padding-top:10px;
        }
        .round-link{
            width:48px;
            height:48px;
            background:$blue;
            @include positionall(-25px,10px,inherit,inherit);
            text-align:center;
            line-height:53px;
            border-radius:50%;
            border:1px solid transparent;
            @include shadowbot;
            @include transition;

            &:hover{
                background:$white;
                
                .icomoon{
                    color:$blue;
                }
            }
            
            .icomoon{
                font-size:$fsize + 3;
                color:$white;
            }
        }
    }
}

.contact-col{
   .icon-col{
       position:relative;
       margin-bottom:40px;
       &:before{
         content:'';
         width:50px;
         height:2px;
         background:$gray;
         @include positionall(inherit, inherit, -25px, 50%);
         margin-left:-25px;
       }
       .icomoon{
           font-size:$fsize * 4;
           color:$blue;
       }
   } 
}

.form{
    label{
        font-size:$fsize - 2;
        margin-bottom:0;
    }
    .form-control{
        border-radius:0;    
        min-height:45px;
        font-size:$fsize - 1;    
    }
    input.form-control{
        height:45px;
    }
}

::placeholder{
    font-size:$fsize - 1;
    color:lighten($gray, 20%)!important;
}

.more-blogsdiv{  
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid $gray;

    .img-blogthumb{
        width:45%;
        padding-right:10px;
        display:inline-block;        
    }
    .title-recentblog{
       align-self: center;
        font-size:$fsize - 2;
        display:block;       
        line-height:20px;
        color:$black;
        width:55%;

        &:hover{
            color:$blue;
        }
    }
}

.alert-success{
    position: absolute;   
    width:100%;
    top:0;
}
#alertEnquirySuccess{
    z-index:9999;
}
.text-danger{
    font-size:$fsize - 2;
}

.modal-dialog-slideout {
    min-height: 100%; 
    margin: 0 0 0 auto;
    background: #fff;
    width:30%;

    @include mob{
        width:100%;
    }
    @include mlscape{
        width:75%;
    }
    @include tab{
        width:50%;
    }
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header {
    min-height: 50px; 
    display: flex;
} 
.modal-dialog-slideout .modal-header h5 {
    float:left;

    @include mob{
        width:90%;
        font-size:$fsize + 3;
        line-height:24px;


    }
}

.benefits-col {
    @include mob{
        padding:15px 0;
        border-bottom:1px solid $white;
    }
}

.buebg{
    background:$blue;
    color:$white;
}


.reviewlowo{
    width:100px;
}


.chemical-items{
    display:flex;
    flex-flow:wrap;
    .list-group-item{
        width:50%;
        position:relative;
        padding-left:30px;
        
        &:before{
            // content: "\e956";
            // font-family: 'icomoon' !important;
            content:'';
            font-size:$fsize + 7;
            color:$blue;
            margin-right:8px;
            background:url(../img/circle.svg)no-repeat 0 0;
            width:12px;
            height:12px;
            margin-right:10px;
            @include positionall(18px, inherit, inherit, 5px)
        }
    }
}

.dottedborder{
    border-left:1px dashed $blue;
}

.bglist{
    li{
        background:lighten($blue, 45%);
        margin:0.6em 1em 0 0;
        box-shadow: 0 1px 2px 0 #cbd6e2;
        padding:1em 0 1em 1em;
        border-radius:5px;
        border-left-width:5px; 
        border-color:lighten($blue, 20%);
        border-left-style: solid;
    }
}

.blog-detail{
    h2{
        font-size:$fsize + 6!important;
        line-height:30px;
    }
}

.home-services{
    padding:35px 0;
    h2{
        font-size:$fsize * 2 + 5;
        @extend .fbold;
        padding-bottom:10px;
        position:relative;
        letter-spacing:-2px;

        @include mob{
            font-size:$fsize + 10;
        }
    }
    .services-list{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;

        .service-col{
            width:calc(100% / 7);
            background:$white;
            min-height:300px;
            max-height:320px;
            text-align:center;
            @include verticalcenter(row);
            @include transition;
            border-top:1px solid lighten($gray, 35%);
            border-bottom:1px solid lighten($gray, 35%);
            border-right:1px solid lighten($gray, 35%);
            position:relative;

            .badge{
                @include positionall(10px, 10px, inherit, inherit)
            }

            @include mob{
                width:calc(100% / 2);
            }
            @include mlscape{
                width:calc(100% / 3);
            }
            @include tab{
                width:calc(100% / 3);
            }

            &:hover{
                background:$blue;    
                
               a{                 
                  
                   h6{
                       color:$white;
                       padding-top:55px;

                       &:before{
                           background:$white;
                           @include positionall(20px, inherit, 0, 50%);
                       }
                   }
                   .icomoon{
                       color:$white;
                   }
              }
              
            }

            a{
                .icomoon{
                    font-size:$fsize * 3 + 10;
                    color:$black;
                    @include transition;
                }
                h6{
                    font-size:$fsize + 1;
                    text-transform: uppercase;
                    @extend .fsbold;
                    color:lighten($black, 30%);
                    padding:60px 0 0 0;
                    position:relative;
                    @include transition;

                    &:before{
                        content:'';
                        width:40px;
                        height:2px;
                        background:$blue;
                        @include positionall(25px, inherit, 0, 50%);
                        margin-left:-20px;
                        @include transition;
                    }
                }
            }

        }
    }  
}

.cust-table{
    thead{
        th{
            background:$blue;
            color:$white;
        }       
    }
    tbody{
        td{
            vertical-align: middle;
        }
    }
}


